<po-page-edit
  p-title="Profile"
  [p-breadcrumb]="breadcrumb"
  (p-cancel)="cancel()"
  [p-literals]="customLiterals"
>
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    "
  >
    <img
      src="../../../assets/images/profile.jpg"
      alt="Profile"
      width="200"
      height="200"
      style="border-radius: 50%"
    />
  </div>
  <form #formEditUser="ngForm">
    <div class="po-row">
      <po-number
        class="po-md-4"
        name="userId"
        [(ngModel)]="userId"
        p-clean
        p-label="User ID"
        p-required
        p-disabled
      >
      </po-number>

      <po-email
        class="po-md-4"
        name="email"
        [(ngModel)]="email"
        p-clean
        p-label="Email"
        p-required
        p-disabled
      >
      </po-email>

      <po-input
        class="po-md-4"
        name="name"
        [(ngModel)]="name"
        p-clean
        p-label="Name"
        p-required
        p-disabled
      >
      </po-input>
    </div>

    <div class="po-row">

      <po-datepicker
        class="po-md-4"
        name="birthDate"
        [(ngModel)]="birthDate"
        p-clean
        p-label="Birth Date"
        p-disabled
      >
      </po-datepicker>

      <po-input
        class="po-md-4"
        name="genre"
        [(ngModel)]="genre"
        p-clean
        p-label="Genre"
        p-disabled
      >
      </po-input>
      <po-input
      class="po-md-4"
      name="nationality"
      [(ngModel)]="nationality"
      p-clean
      p-label="Nationality"
      p-disabled
    >
    </po-input>
    </div>
  </form>
</po-page-edit>
